:root {
     --fundo-dark: url(../assets/fundogame.png);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: var(--fundo-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#question {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.option {
    display: block;
    width: 100%;
    padding: 15px 150px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    background: #fff;
    color: #00490c;
    font-weight: bold;
    transition: 0.3s;   
}

.option:hover {
    background: #00490c;
    color: #fff;
}

#next-btn {
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 1.1rem;
    border: none;
    color: #00490c;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#next-btn:hover {
    background: #00490c;
    color: #fff;
}

.hidden {
    display: none;
}

.correct {
    background: #00490c !important;
    color: #fff !important;
}

.wrong {
    background: #c22727 !important;
    color: #fff !important;
}

#feedback {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
}

#timer {
    font-size: 2rem;
    margin-top: 15px;
    animation: pulse 0.9s infinite alternate ease-in-out;
}

@keyframes pulse {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-1px) scale(1.30); }
}

#reload {
    font-family: Poppins, sans-serif;
    margin: 10px;
    color: #fff;
    background-color: #00490c;
    border-radius: 10px;    
    padding: 5px 60px;

}

