:root {
    --fundo-dark: url(../assets/fundogame.png);
    --enquete: #cacaca;
    --subtitulo:#00490c;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--fundo-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    min-height: 100vh; 
    overflow: hidden;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #00490c, #18c05e, #49494d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    border-radius: 5px;
    padding: 50 60;
    font-size: 50px;
    margin: 3rem;
    text-align: center;
    color: #fff;
}

button {
    display: block;
    margin: 3rem auto 0 auto; 
    font-size: 20px; 
    background-color: var(--enquete);
    color: #00490c;
    padding: 30px 130px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    background-color: var(--subtitulo);
    color: #ffffff;
    transform: scale(1.05);
}