:root {
    --fundo-dark: url(../assets/fundogame.png);
    --enquete: #fff;
    --subtitulo:#00490c;
     --jogar: #fff;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--fundo-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    display: flex;
    gap: 12rem;
    margin: 40px; 
}

h1 {
    font-weight: bold;
    background: linear-gradient(90deg, #00490c, #118341, #525253);
    -webkit-background-clip: text;
    background-clip: text; 
    font-size: 50px;
    margin: 5rem;
    margin-bottom: 10px;
    color: #fff;
}

button {
    display: block;
    margin: 2rem auto 0 auto;
    font-size: 1.5rem;
    background-color: var(--jogar);
    color: #00490c;
    padding: 25px 140px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}


button:hover {
    background-color: var(--subtitulo);
    color: #fff;
    transform: scale(1.05);
}