:root {
  --fundo-dark: url(../assets/fundogame.png);
  --verde: #00490c;
  --hover: #003609;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: var(--fundo-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  text-align: center;
  position: relative;
}

.box-perguntas {
  background: #363636;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
  z-index: 20;
}

#perguntas {
  font-size: 1.4rem;
}

.jogo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.opcao1,
.opcao2 {
  width: 350px;
  background: #fff;
  color: var(--verde);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  margin-top: -100px;
}

.opcao1 {
    margin-left: 20px;
    margin-top: -80px;
}

.opcao2 {
    margin-right: 20px;
    margin-top: -80px;
}

.card1,
.card2 {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 img,
.card2 img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.opcao1:hover,
.opcao2:hover {
  background: var(--verde);
  color: #fff;
  transform: scale(1.05);
}

.card-label {
  background: #d1d1d1;
  color: var(--verde);
  padding: 10px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  margin-top: -20px;
  padding: 10px;
  width: 94.5%;
}

#opcao1 + .card-label {
  margin-left: 20px;
}

.opcao1:hover + .card-label,
.opcao2:hover + .card-label {
  background: var(--hover);
  color: #fff;
  transform: scale(1.05);
}

.timer {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: var(--verde);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
  padding: 45px;
}