:root {
  --fundo-dark: url(../assets/fundogame.png);
  --verde: #00490c;
  --hover: #003609;
  --degrade: linear-gradient(90deg, #006611, #159c4d, #8f8f8f);
  --shadow: rgba(0, 124, 21, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: var(--fundo-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  text-align: center;
  position: relative;
}

.box-perguntas {
  background: #363636;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
  z-index: 20;
}

.opcao-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.opcao-box:hover {
  transform: scale(1.05);
}


#perguntas {
  font-size: 1.4rem;
}

.jogo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.opcao1,
.opcao2 {
  width: 350px;
  background: #fff;
  color: var(--verde);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  margin-top: -100px;
}

.opcao1 {
    margin-left: 20px;
    margin-top: -80px;
}

.opcao2 {
    margin-right: 20px;
    margin-top: -80px;
}

.card1,
.card2 {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 img,
.card2 img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.opcao1:hover,
.opcao2:hover {
  background: var(--verde);
  color: #fff;
  box-shadow: 0 0 20px var(--shadow);
}

.card-label {
  background: #d1d1d1;
  color: var(--verde);
  padding: 10px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  margin-top: -20px;
  padding: 10px;
  width: 94.6%;
}

#opcao1 + .card-label {
  margin-left: 20px;
}

#opcao2 + .card-label {
  margin-left: -20px;
  width: 94.5%;
}

.opcao1:hover + .card-label,
.opcao2:hover + .card-label {
  background: var(--hover);
  color: #fff;
}

.timer {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 45px;
  background-color: #fff;
  border-radius: 0 0 90px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--verde);
}

.fim {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none !important;
}

.fim-box {
  background: #1e1e1e;
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}

.fim-box button {
  margin-top: 20px;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: var(--verde);
  transition: 0.3s ease;
}

.fim-box button:hover {
  background: var(--verde);
  color: #fff;
  box-shadow: 0 0 10px var(--shadow);
}

.titulo {
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: var(--degrade);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categorias {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.categorias button {
  padding: 20px 40px;
  font-size: 1.3rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: var(--verde);
  transition: 0.3s ease;
  font-weight: bold;
}

.categorias button:hover {
  background: var(--verde);
  color: #fff;
  box-shadow: 0 0 15px var(--shadow);
}

