@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

#main-page {
  position: absolute;
  inset: 0;
  background: url('/frontend/assets/fundomain.png') no-repeat center center;
  background-size: cover;
  filter: brightness(1.6) saturate(1.1);
  z-index: 0;
}

.wrapper {
  position: relative;
  z-index: 2;
}

.wrapper .card {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  backdrop-filter: none;
  box-shadow: none;
  width: 330px;
  animation: fade 0.8s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px) scale(0.98); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

h2 {
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e9ffe9;
  text-shadow: 0 0 6px rgba(0, 255, 0, 0.25);
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(4px);
  color: #fff;
  font-size: 0.95rem;
  transition: 0.3s;
}

input::placeholder {
  color: #f0f0f0;
  opacity: 0.85;
}

input:focus {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px #0ccf2d;
}

button {
  width: 100%;
  display: block;
  font-size: 1rem;
  background-color: #e4e4e4;
  color: #00490c;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
    background-color:#00490c;
    color: #e4e4e4;
    transform: scale(1.05);
}
