:root{
    --fundo-dark: url(../assets/fundogame.png);
    --bg:#00490c;
    --btn-bg:#ffffff;
    --btn-text:#ffffff;
    --btn-texto:#00490c;
    --btn-hover:#00490c;
    --question-text:#ffffff;
    --timer-size:40px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,Arial,Helvetica,sans-serif;
}

body{
    background: var(--fundo-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}





.game{
    text-align:center;
    width:min(700px,90vw);
}

.question{
    font-size:26px;
    font-weight:600;
    margin-bottom:32px;
    color:var(--question-text);
}

.controls{
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-bottom:32px;
}

button.btn{
    width:100%;
    padding:16px;
    background:var(--btn-bg);
    color:var(--btn-texto);
    font-size:18px;
    border-radius:12px;
    border:none;
    cursor:pointer;
    font-weight:600;
    transition:.2s;
}

button.btn:hover{
    background:var(--btn-hover);
    color: var(--btn-text);
}

#timer{
    font-size:32px;
    font-weight:700;
    margin-top:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
}

#timer::before{
    content:"⏰";
    font-size:var(--timer-size);
}

#restart {
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 550;
    border: none;
    color: #00490c;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#restart:hover {
    background: #00490c;
    color: #fff;
}

.result{
    background:#ffffff;
    color:#00490c;
    max-width:600px;
    width:100%;
    padding:18px;
    font-weight:550;
    border-radius:12px;
    margin:20px auto; 
    font-size:18px;
    text-align:center; 
    display:none;
}