:root {
     --fundo-dark: url(../assets/fundogame.png);
}

body {
    background: var(--fundo-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
     }